@if (entradasUsuario) {
  <h1 class="text-center text-2xl">MIS ENTRADAS</h1>
  <div class="flex flex-col items-center gap-5">
    @for (entrada of entradasUsuario; track entrada.id) {
      <div>
        {{ entrada.sesionPelicula.pelicula.titulo }} - Asiento:
        {{ entrada.numeroAsiento }} - Precio: {{ entrada.precio }} - Sala:
        {{ entrada.sesionPelicula.sala.id }} - Fecha:
        {{ entrada.sesionPelicula.fecha }} - Hora:
        {{ entrada.sesionPelicula.horaInicio }}
        <button
          class="bg-red-600 p-2 rounded-lg"
          (click)="eliminarEntrada(entrada.id)"
        >
          Eliminar
        </button>
      </div>
    }
  </div>
} @else {
  <div class="flex flex-col gap-10 w-96 items-center m-auto p-5">
    <h1 class="text-2xl">NO TIENES ENTRADAS</h1>
    <button
      class="text-xl text-white bg-blue-700 p-5 rounded-md"
      routerLink="/peliculas"
    >
      PELICULAS
    </button>
  </div>
}
