<div class="w-full bg-color-primario h-20 flex">
  @if (haySesion) {
    <button
      routerLinkActive="bg-green-400 hover:bg-green-400 "
      cursor-auto
      [routerLinkActiveOptions]="{ exact: true }"
      class="py-5 px-10 hover:bg-blue-300"
      routerLink="/peliculas"
    >
      Películas
    </button>
    <button
      routerLinkActive="bg-green-400 hover:bg-green-400 cursor-auto"
      class="py-5 px-10 hover:bg-blue-300"
      routerLink="/peliculas/populares"
    >
      Populares
    </button>
    <button
      routerLinkActive="bg-green-400 hover:bg-green-400 cursor-auto"
      class="py-5 px-10 hover:bg-blue-300"
      routerLink="/misEntradas"
    >
      Mis entradas
    </button>

    <button
      routerLinkActive="bg-green-400 hover:bg-green-400 cursor-auto"
      class="py-5 px-10 hover:bg-blue-300"
      (click)="cerrarSesion()"
    >
      Cerrar Sesion
    </button>
  } @else {
    <button
      routerLinkActive="bg-green-400 hover:bg-green-400 cursor-auto"
      class="py-5 px-10 hover:bg-blue-300"
      routerLink="/inicioSesion"
    >
      Inicio de sesion
    </button>
    <button
      routerLinkActive="bg-green-400 hover:bg-green-400 cursor-auto"
      class="py-5 px-10 hover:bg-blue-300"
      routerLink="/registro"
    >
      Registrarse
    </button>
  }
</div>
