<div class="header w-full">
  <div class="text-xl font-bold">Cartelera de Cine</div>

  <div class="menu">
    @if (haySesion) {
      <button
        routerLinkActive=" bg-terciario text-white cursor-auto hover:bg-tertiary"
        [routerLinkActiveOptions]="{ exact: true }"
        class="py-2 px-4 hover:bg-tertiary-steel hover:text-white rounded"
        routerLink="/peliculas"
      >
        Películas
      </button>
      <button
        routerLinkActive=" bg-terciario text-white cursor-auto hover:bg-tertiary"
        class="py-2 px-4 hover:bg-tertiary-steel hover:text-white rounded"
        routerLink="/peliculas/populares"
      >
        Populares
      </button>
      <button
        routerLinkActive=" bg-terciario text-white cursor-auto hover:bg-tertiary"
        class="py-2 px-4 hover:bg-tertiary-steel hover:text-white rounded"
        routerLink="/misEntradas"
      >
        Mis entradas
      </button>
      <button
        class="py-2 px-4 bg-red-600 hover:bg-red-700 rounded text-white"
        (click)="cerrarSesion()"
      >
        Cerrar Sesión
      </button>
    } @else {
      <button
        routerLinkActive=" bg-terciario text-white cursor-auto hover:bg-tertiary"
        class="py-2 px-4 hover:bg-tertiary-steel hover:text-white rounded"
        routerLink="/inicioSesion"
      >
        Inicio de sesión
      </button>
      <button
        routerLinkActive=" bg-terciario text-white cursor-auto hover:bg-tertiary"
        class="py-2 px-4 hover:bg-tertiary-steel hover:text-white rounded"
        routerLink="/registro"
      >
        Registrarse
      </button>
    }
  </div>
</div>
