<div
  class="flex flex-col m-auto items-center text-center
   hover:bg-tertiary-steel bg-terciario border
    border-border-dark w-52 mb-10 cursor-pointer 
    rounded "
  routerLink="/peliculas/detalles/{{ idPelicula }}"
>
  <h3
    class="min-h-32 text-xl flex items-center
     justify-center p-2 text-white font-semibold"
  >
    {{ tituloPelicula }}
  </h3>
  <div
    class="w-52 h-80 bg-cover bg-center"
    style="background-image: url('{{ urlImagenes }}{{ urlPortadaPelicula }}');"
  ></div>
</div>
