@if (sesionPelicula && asientosOcupados) {
  <div class="w-full h-full flex flex-col p-7 gap-14">
    <div>
      <h1
        class="w-full text-center text-4xl font-bold mb-5 uppercase text-primary"
      >
        {{ sesionPelicula.pelicula.titulo }}
      </h1>
      <div class="flex justify-between py-5 text-lg">
        <p>
          <span class="font-semibold">Sala:</span> {{ sesionPelicula.sala.id }}
        </p>
        <p>
          <span class="font-semibold">Duración: </span>
          {{ sesionPelicula.pelicula.duracion }} min
        </p>
        <p>
          <span class="font-semibold">Fecha:</span> {{ sesionPelicula.fecha }}
        </p>
        <p>
          <span class="font-semibold">Hora:</span>
          {{ sesionPelicula.horaInicio }}
        </p>
      </div>
    </div>

    <h1 class="text-3xl text-center font-semibold text-tertiary">
      ¡Hora de Elegir Asientos!
    </h1>

    <div class="text-center min-w-[26rem] mx-auto">
      @for (item of [].constructor(60); track $index) {
        @if ($index % 8 === 0) {
          <br />
        }
        <button
          class="p-2 w-11 m-1 rounded-md text-white"
          [ngClass]="{
            'bg-red-600': asientoOcupado($index + 1),
            'bg-green-600 hover:bg-blue-700':
              !asientoOcupado($index + 1) && !estaSeleccionado($index + 1),
            'bg-blue-700': estaSeleccionado($index + 1)
          }"
          [disabled]="asientoOcupado($index + 1)"
          (click)="seleccionarAsiento($index + 1)"
        >
          {{ $index + 1 }}
        </button>
      }
    </div>

    <div class="w-full flex gap-12 justify-center mt-8 pb-10">
      <button
        class="bg-primary text-white w-28 rounded-xl py-2 shadow-md hover:bg-tertiary transition disabled:opacity-50"
        (click)="reservaEntradas()"
        [disabled]="asientosElegidos.length === 0"
      >
        Aceptar
      </button>
      <button
        class="bg-primary text-white w-28 rounded-xl py-2 shadow-md hover:bg-tertiary transition"
        [routerLink]="['/peliculas/detalles', sesionPelicula.pelicula.id]"
      >
        Volver
      </button>
    </div>

    @if (error) {
      <div class="text-center mt-5 text-red-600">
        <h1>{{ error }}</h1>
      </div>
    }
  </div>
}
