<h1>{{ idSesion }}</h1>
<div class="w-full h-full flex flex-col px-7 py-5 bg-cyan-200 gap-14">
  <div>
    <h1 class="w-full text-center text-2xl">
      {{ sesionPelicula.pelicula.titulo.toLocaleUpperCase() }}
    </h1>
    <div class="flex justify-between py-5">
      <p>Sala: {{ sesionPelicula.sala.id }}</p>
      <p>Duracion: {{ sesionPelicula.pelicula.duracion }} min</p>
      <p>Fecha: {{ sesionPelicula.fecha }}</p>
      <p>Hora: {{ sesionPelicula.horaInicio }}</p>
    </div>
  </div>
  <h1 class="text-3xl text-center">!HORA DE ELEGIR ASIENTOS¡</h1>
  <div class="text-center">
    @for (item of [].constructor(60); track $index) {
      @if ($index % 8 == 0) {
        <br />
      }
      <button
        class="p-2 w-11 m-1 rounded-md text-white"
        [ngClass]="{
          'bg-red-600 ': asientoOcupado($index + 1),
          'bg-green-600  hover:bg-blue-700':
            !asientoOcupado($index + 1) && !estaSeleccionado($index + 1),
          'bg-blue-700 ': estaSeleccionado($index + 1)
        }"
        [disabled]="asientoOcupado($index + 1)"
        (click)="seleccionarAsiento($index + 1)"
      >
        {{ $index + 1 }}
      </button>
    }
  </div>
  <div class="w-full h-10 flex gap-12 justify-center">
    <button
      class="bg-blue-500 w-28 rounded-xl"
      (click)="reservaEntradas()"
      [disabled]="asientosElegidos.length == 0"
    >
      ACEPTAR
    </button>
    <button
      class="bg-blue-500 w-28 rounded-xl"
      routerLink="/peliculas/detalles/{{ sesionPelicula.pelicula.id }}"
    >
      VOLVER
    </button>
  </div>
</div>
@if (error) {
  <h1>{{ error }}</h1>
}
