<div class="bg-color-secundario flex">
  <img src="{{ urlImagenes }}{{ detallesPelicula.rutaPoster }}" alt="" />
  <div class="flex flex-col p-5">
    <h1 class="titulo-cabecera">Pelicula {{ detallesPelicula.titulo }}</h1>

    <div>
      <p>{{ detallesPelicula.resumen }}</p>
      <div class="flex gap-5">
        @for (genero of detallesPelicula.generos; track detallesPelicula.id) {
          <p>{{ genero.nombre }}</p>
        }
        <p>{{ detallesPelicula.fechaEstreno }}</p>
        <div>Valoración: {{ detallesPelicula.valoracion }}</div>
        <div>Duración: {{ detallesPelicula.duracion }} min</div>
      </div>
      <!-- <div class="flex">
        @for (
          compania of detallesPelicula.production_companies;
          track compania.id
        ) {
          @if (compania.logo_path != null) {
            <img
              class=""
              src="{{ urlImagenes }}{{ compania.logo_path }}"
              alt=""
            />
          }
        }
      </div> -->
    </div>
  </div>
</div>

<!-- <iframe
  [src]="trailerUrl"
  width="560"
  height="315"
  frameborder="0"
  allowfullscreen
></iframe> -->
